---
import Layout from '@/layouts/Layout.astro';
import { RecipeListView } from '@/components/views/RecipeListView';
---

<Layout title="Moje przepisy">
  <main class="container mx-auto px-4 py-8">
    <RecipeListView client:load />
  </main>
</Layout> 